<div class="panel panel-default all">
  <div class="panel-heading"><strong>&gt; All Products</strong></div>
    <div class="panel-body">
      <div class="row">
        <%= render 'product', collection: @products, paginate: true, size: 5 %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default featured">
  <div class="panel-heading"><strong>Featured Items</strong></div>
    <div class="panel-body">
      <%= render 'featured_product' %>
    </div>
  </div>
</div>