<div class="panel panel-default all">
  <div class="panel-heading">&gt; All Products</div>
    <div class="panel-body">
      <div class="row">
        <%= render 'product' %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default featured">
  <div class="panel-heading">Featured Items</div>
    <div class="panel-body">
      <%= render 'featured_product' %>
    </div>
  </div>
</div>