<% @products.each do |product| %>
  <table id='product'>
    <tr>
      <td colspan=2><%= product.name %></td>
    </tr>
    <tr>
      <td rowspan=3><%= image_tag product.image_path, :size => '50x40' %></td>
      <td>
        <strong>Price: </strong><%= product.price %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Category: </strong><%= product.category.name %>
      </td>
    </tr>
    <tr>
      <td>
        <% if product.stock_quantity > 0 %>
          <strong>Availability: </strong><span>In Stock</span>
        <% else %>
          <strong>Availability: </strong><span>Out of Stock</span>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>