@import "bootstrap";

.navbar-static-top {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  border-color: #372E25;
  border-bottom-color: #A91D14;
  background-color: #372E25;
  color: #372E25;

}

.navbar {
  height: 5px;
}

.product-nav {
  width: 100%;
  background-color: #A91D14;
  min-height: 15px;
}

.all {
  margin-left: 25px;
  width: 700px;
}

.featured {
  position: absolute;
  margin-left: 750px;
  margin-top: -523px;
  width: 300px;
  text-align: center;
}

.panel {
  border-color: #372E25;

  .panel-heading {
    background-color: #A91D14;
    border-color: #372E25;
    color: #E4D4D4;
  }
  
  .panel-body {
    color: #E4D4D4;
  }
}

.featured_product img {
  width: 60%;
}
.search {
  width: 500px;
}