@import "bootstrap";

.navbar-static-top {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  border-color: #372E25;
  border-bottom-color: #A91D14;
  background-color: #372E25;
  color: #372E25;

}

.product-nav {
  width: 100%;
  background-color: #A91D14;
  min-height: 10px;
}

.all {
  margin-left: 25px;
  width: 650px;
}

.featured {
  width: 300px;
  text-align: center;
}

.panel {
  border-color: #372E25;

  .panel-heading {
    background-color: #A91D14;
    border-color: #372E25;
    color: #E4D4D4;
  }
  
  .panel-body {
    color: #E4D4D4;
  }
}

.all_products {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  width: 100px;
  float: left;
  border: 1px solid #eee;
  margin-left: 17px;
}

.featured_product img {
  width: 60%;
}
.search {
  width: 500px;
}