@import "bootstrap";

$green-color: #3c0;
$red-color: #c00;

.navbar-static-top {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  border-color: #000000;
  background-color: #CCCCCC;
  color: #000000;
}

.all {
  margin-left: 25px;
  width: 650px;
}

.cart {
  width: 500px;
  text-align: center;
  margin-top: -1085px;
  margin-left: 700px;
}

.featured {
  width: 500px;
  text-align: center;
  margin-left: 700px;
}

.panel {
  border-color: #000;

  .panel-heading {
    background-color: #CCCCCC;
    border-color: #000000;
    color: #000000;
  }
  
  .panel-body {
    color: #000000;
  }
}

.all_products {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  width: 100px;
  float: left;
  border: 1px solid #eee;
  margin-left: 17px;

  img{
    width: 90px;
  }
}

.image_wrapper{
  width: 850px;
  margin-left: 25px;
  border: 2px solid #000;

  border-radius: 10px 10px 10px 0px;

  img{
    width: 400px;
    padding: 10px;
  }

  .image_content{
    padding: 10px;
    float: right;
    margin-right: 25px;

    .available{
      color: #3c0;
    }

    .unavailable{
      color: #c00;
    }
  }
}

.featured_product{
  width: 200px;
  float: left;
  margin-left: 22px;
  border: 1px solid #eee;
  border-radius: 10px 10px 10px 0px;
  margin-bottom: 10px;

  img{
    width: 180px;
  }
}

.search {
  margin-top: 10px;
}

.category_search{
  margin-bottom: 10px;
  width: 600px;
}

.flash{
  border: 1px solid green-color;
}

.available{
  text-align: center;
  color: green-color;
}

.unavailable{
  text-align: center;
  color: red-color;
}

.notice{
  text-align: center;
  color: green;
  font-wieght: bold;
}

.error{
  text-align: center;
  color: red;
  font-weight: bold;
}

.non_link{
  color: #bbb;
}

.not_found{
  margin-left: 25px;
  color: red-color;
}

.sale{
  border: 1px solid green-color;
}

.cart_contents{

  img{
    width: 90px;
  }
}

.footer{
  margin-top: 10px;
}